* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0px;
  padding: 0px;

  font-family:Georgia, 'Times New Roman', Times, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* color */
}

header{
  background-color: rgba(0, 0, 0, 0.9);
}

.header_container {
  max-width: 1440px;
  margin: 0px auto;
  min-height: 56px;
}

.nav_list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav_link{
  position: relative;
  padding: 0px 10px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 56px;
  color: white;
}

/* .main_container{
  
} */